certifi==2018.4.16
chardet==3.0.4
django==2.0.3
django-admin-view-permission==1.6
idna==2.6
pipenv==2018.5.18
PyJWT==1.6.4
PySocks==1.6.8
pytz==2018.3
requests==2.18.4
six==1.11.0
twilio==6.14.4
urllib3==1.24.2
virtualenv==16.0.0
virtualenv-clone==0.3.0
